/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900 */

div {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

.navBar{
  background-color: rgb(88, 88, 88);
  padding: 5px;
  text-align: center;
  font-size: 20px;
  color: #6857ff;
  flex: auto;
}

.offWhite1 {
  background-color: rgb(209, 209, 209);
  opacity: 100%;
  border: 1px solid black;
}

.offWhite2 {
  background-color: rgb(136, 136, 136);
  opacity: 100%;
  border: 1px solid black;
}

.offWhite3 {
  background-color: rgb(209, 209, 209);
  opacity: 100%;
  border: 1px solid black;
}

a{
  color: white;
  text-decoration: none;
}

.row {
  display: flex;
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  height: auto;
}



.footer {
  background-color: #3b3b3b;
  padding: 10px;
  text-align: center;
  color: #f1f1f1;
}


.imgBorder{
  /* border: #6d6a6a solid 3px; */
  box-shadow:#5a5a5a34 7px 7px ;
}

.mediumImage{
  height: 100%;
  width: 50%;
}

.mediumImageRound{
  height: 100%;
  width: 50%;
  border-radius: 50%;
}

.content{
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

h3{
  text-align: center;
}